@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

body{
    display:block;
    justify-content: center;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 0px; 
    margin: auto;
    width: 72%;
    background: url(bbburst.svg);
    background-color: rgba(18, 18, 18, 0.95);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.92);
}

.container{
    font-size: 23px;
    font-family: 'Oleo Script', cursive;
    color: white;
}

.slider-container{
    margin: auto;
    width: 50%;
    width: 700px;
    height: 470px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
}

.image-container{
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 24px;
    opacity: 50%;
}

.btn.prev{
    left: 10px;
}

.btn.next{
    right: 10px;
}

.btn:hover {
    opacity: 1;
}
